body {
    background: #171717;
    color: #ddd;
    font-family: Arial;
    margin: 40px;
}

input {
    display: block;
    width: 250px;
    padding: 6px;
    background: #222;
    color: white;
    border: 1px solid #555;
}

button {
    padding: 7px 12px;
    background: #222;
    color: white;
    border: 1px solid #555;
    cursor: pointer;
}

#output {
    margin-top: 25px;
    line-height: 1.8;
}